=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class ActivityAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # List activity events
    # Retrieves activity events for messages, including delivery status, opens, clicks, bounces, and complaints.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :message_id
    # @option opts [Integer] :after
    # @option opts [Time] :start_date
    # @option opts [Time] :end_date
    # @option opts [Integer] :limit
    # @return [EventsResponse]
    def list_events(opts = {})
      data, _status_code, _headers = list_events_with_http_info(opts)
      data
    end

    # List activity events
    # Retrieves activity events for messages, including delivery status, opens, clicks, bounces, and complaints.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :message_id
    # @option opts [Integer] :after
    # @option opts [Time] :start_date
    # @option opts [Time] :end_date
    # @option opts [Integer] :limit
    # @return [Array<(EventsResponse, Integer, Hash)>] EventsResponse data, response status code and response headers
    def list_events_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivityAPI.list_events ..."
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ActivityAPI.list_events, must be smaller than or equal to 500.'
      end

      # resource path
      local_var_path = "/activity/events"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'channelId'] = opts[:'channel_id'] if !opts[:'channel_id'].nil?
      query_params[:'messageId'] = opts[:'message_id'] if !opts[:'message_id'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "EventsResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ActivityAPI.list_events",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityAPI#list_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List messages
    # Retrieves a paginated list of sent messages with basic tracking information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [Integer] :after
    # @option opts [Time] :start_date
    # @option opts [Time] :end_date
    # @option opts [Integer] :limit
    # @option opts [String] :recipient
    # @option opts [String] :subject
    # @option opts [String] :tag
    # @option opts [String] :status
    # @return [MessagesResponse]
    def list_messages(opts = {})
      data, _status_code, _headers = list_messages_with_http_info(opts)
      data
    end

    # List messages
    # Retrieves a paginated list of sent messages with basic tracking information.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [Integer] :after
    # @option opts [Time] :start_date
    # @option opts [Time] :end_date
    # @option opts [Integer] :limit
    # @option opts [String] :recipient
    # @option opts [String] :subject
    # @option opts [String] :tag
    # @option opts [String] :status
    # @return [Array<(MessagesResponse, Integer, Hash)>] MessagesResponse data, response status code and response headers
    def list_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivityAPI.list_messages ..."
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling ActivityAPI.list_messages, must be smaller than or equal to 100.'
      end

      allowable_values = [ "sent", "queued" ]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = "/activity/messages"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'channelId'] = opts[:'channel_id'] if !opts[:'channel_id'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'recipient'] = opts[:'recipient'] if !opts[:'recipient'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "MessagesResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ActivityAPI.list_messages",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityAPI#list_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve message details
    # Fetches detailed tracking information for a specific message, including all associated events.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [MessageDetailsResponse]
    def retrieve_message(id, opts = {})
      data, _status_code, _headers = retrieve_message_with_http_info(id, opts)
      data
    end

    # Retrieve message details
    # Fetches detailed tracking information for a specific message, including all associated events.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageDetailsResponse, Integer, Hash)>] MessageDetailsResponse data, response status code and response headers
    def retrieve_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ActivityAPI.retrieve_message ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ActivityAPI.retrieve_message"
      end
      # resource path
      local_var_path = "/activity/messages/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "MessageDetailsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ActivityAPI.retrieve_message",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ActivityAPI#retrieve_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
