=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class BroadcastsAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # List broadcasts
    # Retrieves a paginated list of sent broadcasts with summary statistics.
    # @param channel_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [BroadcastStatus] :status
    # @option opts [String] :subject
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @return [PaginatedResponseOfBroadcastResponse]
    def list(channel_id, opts = {})
      data, _status_code, _headers = list_with_http_info(channel_id, opts)
      data
    end

    # List broadcasts
    # Retrieves a paginated list of sent broadcasts with summary statistics.
    # @param channel_id [String]
    # @param [Hash] opts the optional parameters
    # @option opts [BroadcastStatus] :status
    # @option opts [String] :subject
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @return [Array<(PaginatedResponseOfBroadcastResponse, Integer, Hash)>] PaginatedResponseOfBroadcastResponse data, response status code and response headers
    def list_with_http_info(channel_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BroadcastsAPI.list ..."
      end
      # verify the required parameter 'channel_id' is set
      if @api_client.config.client_side_validation && channel_id.nil?
        fail ArgumentError, "Missing the required parameter 'channel_id' when calling BroadcastsAPI.list"
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BroadcastsAPI.list, must be smaller than or equal to 500.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling BroadcastsAPI.list, must be greater than or equal to 1.'
      end

      if @api_client.config.client_side_validation && !opts[:'offset'].nil? && opts[:'offset'] < 0
        fail ArgumentError, 'invalid value for "opts[:"offset"]" when calling BroadcastsAPI.list, must be greater than or equal to 0.'
      end

      # resource path
      local_var_path = "/broadcasts"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'channelId'] = channel_id
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'subject'] = opts[:'subject'] if !opts[:'subject'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "PaginatedResponseOfBroadcastResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"BroadcastsAPI.list",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsAPI#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List broadcast failures
    # Retrieves a list of failed messages for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [BroadcastFailuresResponse]
    def list_failures(id, opts = {})
      data, _status_code, _headers = list_failures_with_http_info(id, opts)
      data
    end

    # List broadcast failures
    # Retrieves a list of failed messages for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(BroadcastFailuresResponse, Integer, Hash)>] BroadcastFailuresResponse data, response status code and response headers
    def list_failures_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BroadcastsAPI.list_failures ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BroadcastsAPI.list_failures"
      end
      # resource path
      local_var_path = "/broadcasts/{id}/failures".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "BroadcastFailuresResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"BroadcastsAPI.list_failures",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsAPI#list_failures\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List broadcast suppressions
    # Retrieves a list of suppressed recipients for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [BroadcastSuppressionsResponse]
    def list_suppressions(id, opts = {})
      data, _status_code, _headers = list_suppressions_with_http_info(id, opts)
      data
    end

    # List broadcast suppressions
    # Retrieves a list of suppressed recipients for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(BroadcastSuppressionsResponse, Integer, Hash)>] BroadcastSuppressionsResponse data, response status code and response headers
    def list_suppressions_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BroadcastsAPI.list_suppressions ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BroadcastsAPI.list_suppressions"
      end
      # resource path
      local_var_path = "/broadcasts/{id}/suppressions".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "BroadcastSuppressionsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"BroadcastsAPI.list_suppressions",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsAPI#list_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a broadcast
    # Fetches details and statistics for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [BroadcastDetailsResponse]
    def retrieve(id, opts = {})
      data, _status_code, _headers = retrieve_with_http_info(id, opts)
      data
    end

    # Retrieve a broadcast
    # Fetches details and statistics for a specific broadcast.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(BroadcastDetailsResponse, Integer, Hash)>] BroadcastDetailsResponse data, response status code and response headers
    def retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: BroadcastsAPI.retrieve ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BroadcastsAPI.retrieve"
      end
      # resource path
      local_var_path = "/broadcasts/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "BroadcastDetailsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"BroadcastsAPI.retrieve",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BroadcastsAPI#retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
