=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class ChannelsAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # Create a channel
    # Creates a new communication channel for organizing and routing messages.
    # @param create_channel_request [CreateChannelRequest]
    # @param [Hash] opts the optional parameters
    # @return [ChannelResponse]
    def create(create_channel_request, opts = {})
      data, _status_code, _headers = create_with_http_info(create_channel_request, opts)
      data
    end

    # Create a channel
    # Creates a new communication channel for organizing and routing messages.
    # @param create_channel_request [CreateChannelRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelResponse, Integer, Hash)>] ChannelResponse data, response status code and response headers
    def create_with_http_info(create_channel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChannelsAPI.create ..."
      end
      # verify the required parameter 'create_channel_request' is set
      if @api_client.config.client_side_validation && create_channel_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_channel_request' when calling ChannelsAPI.create"
      end
      # resource path
      local_var_path = "/channels"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_channel_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "ChannelResponse",
        400 => "ErrorResponse",
        401 => nil,
        403 => nil,
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ChannelsAPI.create",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsAPI#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a channel
    # Permanently removes a channel and all associated data.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # Delete a channel
    # Permanently removes a channel and all associated data.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChannelsAPI.delete ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChannelsAPI.delete"
      end
      # resource path
      local_var_path = "/channels/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {}

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ChannelsAPI.delete",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsAPI#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all channels
    # Retrieves a list of all channels accessible to the current user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [String] :name
    # @option opts [Array<String>] :channel_ids
    # @option opts [String] :delivery_type
    # @return [PaginationResultOfChannelResponse]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List all channels
    # Retrieves a list of all channels accessible to the current user.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [String] :name
    # @option opts [Array<String>] :channel_ids
    # @option opts [String] :delivery_type
    # @return [Array<(PaginationResultOfChannelResponse, Integer, Hash)>] PaginationResultOfChannelResponse data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChannelsAPI.list ..."
      end
      allowable_values = [ "live", "sandbox" ]
      if @api_client.config.client_side_validation && opts[:'delivery_type'] && !allowable_values.include?(opts[:'delivery_type'])
        fail ArgumentError, "invalid value for \"delivery_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = "/channels"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'channelIds'] = @api_client.build_collection_param(opts[:'channel_ids'], :csv) if !opts[:'channel_ids'].nil?
      query_params[:'deliveryType'] = opts[:'delivery_type'] if !opts[:'delivery_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "PaginationResultOfChannelResponse",
        400 => "ErrorResponse",
        401 => nil,
        403 => nil,
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ChannelsAPI.list",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsAPI#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a channel
    # Fetches the details and configuration of a specific channel.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [ChannelResponse]
    def retrieve(id, opts = {})
      data, _status_code, _headers = retrieve_with_http_info(id, opts)
      data
    end

    # Retrieve a channel
    # Fetches the details and configuration of a specific channel.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelResponse, Integer, Hash)>] ChannelResponse data, response status code and response headers
    def retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChannelsAPI.retrieve ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChannelsAPI.retrieve"
      end
      # resource path
      local_var_path = "/channels/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "ChannelResponse",
        401 => nil,
        403 => nil,
        404 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ChannelsAPI.retrieve",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsAPI#retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a channel
    # Modifies the settings and configuration of an existing channel.
    # @param id [String]
    # @param update_channel_request [UpdateChannelRequest]
    # @param [Hash] opts the optional parameters
    # @return [ChannelResponse]
    def update(id, update_channel_request, opts = {})
      data, _status_code, _headers = update_with_http_info(id, update_channel_request, opts)
      data
    end

    # Update a channel
    # Modifies the settings and configuration of an existing channel.
    # @param id [String]
    # @param update_channel_request [UpdateChannelRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(ChannelResponse, Integer, Hash)>] ChannelResponse data, response status code and response headers
    def update_with_http_info(id, update_channel_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: ChannelsAPI.update ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ChannelsAPI.update"
      end
      # verify the required parameter 'update_channel_request' is set
      if @api_client.config.client_side_validation && update_channel_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_channel_request' when calling ChannelsAPI.update"
      end
      # resource path
      local_var_path = "/channels/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_channel_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "ChannelResponse",
        400 => "ErrorResponse",
        401 => nil,
        403 => nil,
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"ChannelsAPI.update",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChannelsAPI#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
