=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class DomainsAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # Create a domain
    # Registers a new domain for sending emails. The domain must be verified before it can be used.
    # @param create_domain_request [CreateDomainRequest]
    # @param [Hash] opts the optional parameters
    # @return [DomainWithDnsResponse]
    def create(create_domain_request, opts = {})
      data, _status_code, _headers = create_with_http_info(create_domain_request, opts)
      data
    end

    # Create a domain
    # Registers a new domain for sending emails. The domain must be verified before it can be used.
    # @param create_domain_request [CreateDomainRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainWithDnsResponse, Integer, Hash)>] DomainWithDnsResponse data, response status code and response headers
    def create_with_http_info(create_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.create ..."
      end
      # verify the required parameter 'create_domain_request' is set
      if @api_client.config.client_side_validation && create_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_domain_request' when calling DomainsAPI.create"
      end
      # resource path
      local_var_path = "/domains"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_domain_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "DomainWithDnsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.create",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a domain
    # Removes a domain from the account. This will stop all email sending from this domain.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # Delete a domain
    # Removes a domain from the account. This will stop all email sending from this domain.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.delete ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsAPI.delete"
      end
      # resource path
      local_var_path = "/domains/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {}

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.delete",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all domains
    # Retrieves all domains associated with the current account, including their verification status.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [String] :name
    # @option opts [Array<String>] :channel_ids
    # @return [PaginatedResponseOfDomainResponse]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List all domains
    # Retrieves all domains associated with the current account, including their verification status.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [String] :name
    # @option opts [Array<String>] :channel_ids
    # @return [Array<(PaginatedResponseOfDomainResponse, Integer, Hash)>] PaginatedResponseOfDomainResponse data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.list ..."
      end
      # resource path
      local_var_path = "/domains"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'name'] = opts[:'name'] if !opts[:'name'].nil?
      query_params[:'channelIds'] = @api_client.build_collection_param(opts[:'channel_ids'], :csv) if !opts[:'channel_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "PaginatedResponseOfDomainResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.list",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a domain
    # Gets detailed information about a specific domain, including verification status and configuration.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [DomainWithDnsResponse]
    def retrieve(id, opts = {})
      data, _status_code, _headers = retrieve_with_http_info(id, opts)
      data
    end

    # Retrieve a domain
    # Gets detailed information about a specific domain, including verification status and configuration.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainWithDnsResponse, Integer, Hash)>] DomainWithDnsResponse data, response status code and response headers
    def retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.retrieve ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsAPI.retrieve"
      end
      # resource path
      local_var_path = "/domains/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "DomainWithDnsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.retrieve",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate a domain key
    # Generates new DKIM keys for the domain. This is recommended for security best practices.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [DnsRecordResponse]
    def rotate_key(id, opts = {})
      data, _status_code, _headers = rotate_key_with_http_info(id, opts)
      data
    end

    # Rotate a domain key
    # Generates new DKIM keys for the domain. This is recommended for security best practices.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DnsRecordResponse, Integer, Hash)>] DnsRecordResponse data, response status code and response headers
    def rotate_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.rotate_key ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsAPI.rotate_key"
      end
      # resource path
      local_var_path = "/domains/{id}/rotate-key".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "DnsRecordResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.rotate_key",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#rotate_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a domain
    # Modifies the configuration settings of an existing domain.
    # @param id [String]
    # @param update_domain_request [UpdateDomainRequest]
    # @param [Hash] opts the optional parameters
    # @return [DomainResponse]
    def update(id, update_domain_request, opts = {})
      data, _status_code, _headers = update_with_http_info(id, update_domain_request, opts)
      data
    end

    # Update a domain
    # Modifies the configuration settings of an existing domain.
    # @param id [String]
    # @param update_domain_request [UpdateDomainRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainResponse, Integer, Hash)>] DomainResponse data, response status code and response headers
    def update_with_http_info(id, update_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.update ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsAPI.update"
      end
      # verify the required parameter 'update_domain_request' is set
      if @api_client.config.client_side_validation && update_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_domain_request' when calling DomainsAPI.update"
      end
      # resource path
      local_var_path = "/domains/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_domain_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "DomainResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.update",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a domain
    # Initiates the domain verification process by checking DNS records.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [DnsRecordsResponse]
    def verify(id, opts = {})
      data, _status_code, _headers = verify_with_http_info(id, opts)
      data
    end

    # Verify a domain
    # Initiates the domain verification process by checking DNS records.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(DnsRecordsResponse, Integer, Hash)>] DnsRecordsResponse data, response status code and response headers
    def verify_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: DomainsAPI.verify ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DomainsAPI.verify"
      end
      # resource path
      local_var_path = "/domains/{id}/verify".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "DnsRecordsResponse",
        401 => nil,
        403 => "ErrorResponse",
        404 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"DomainsAPI.verify",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DomainsAPI#verify\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
