=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class SendingAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # Send a broadcast email
    # Sends a broadcast email to multiple recipients for marketing or announcement purposes.
    # @param send_broadcast_request [SendBroadcastRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [SendBroadcastResponse]
    def broadcast(send_broadcast_request, opts = {})
      data, _status_code, _headers = broadcast_with_http_info(send_broadcast_request, opts)
      data
    end

    # Send a broadcast email
    # Sends a broadcast email to multiple recipients for marketing or announcement purposes.
    # @param send_broadcast_request [SendBroadcastRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [Array<(SendBroadcastResponse, Integer, Hash)>] SendBroadcastResponse data, response status code and response headers
    def broadcast_with_http_info(send_broadcast_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SendingAPI.broadcast ..."
      end
      # verify the required parameter 'send_broadcast_request' is set
      if @api_client.config.client_side_validation && send_broadcast_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_broadcast_request' when calling SendingAPI.broadcast"
      end
      if @api_client.config.client_side_validation && !opts[:'x_helo_idempotency_key'].nil? && opts[:'x_helo_idempotency_key'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"x_helo_idempotency_key"]" when calling SendingAPI.broadcast, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = "/send/broadcast"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end
      header_params[:'X-Helo-Channel-Id'] = opts[:'x_helo_channel_id'] if !opts[:'x_helo_channel_id'].nil?
      header_params[:'X-Helo-Idempotency-Key'] = opts[:'x_helo_idempotency_key'] if !opts[:'x_helo_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_broadcast_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "SendBroadcastResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"SendingAPI.broadcast",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAPI#broadcast\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a single broadcast email
    # Sends a single broadcast email message.
    # @param send_message_request [SendMessageRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [SendMessageAcceptedResponse]
    def broadcast_message(send_message_request, opts = {})
      data, _status_code, _headers = broadcast_message_with_http_info(send_message_request, opts)
      data
    end

    # Send a single broadcast email
    # Sends a single broadcast email message.
    # @param send_message_request [SendMessageRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [Array<(SendMessageAcceptedResponse, Integer, Hash)>] SendMessageAcceptedResponse data, response status code and response headers
    def broadcast_message_with_http_info(send_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SendingAPI.broadcast_message ..."
      end
      # verify the required parameter 'send_message_request' is set
      if @api_client.config.client_side_validation && send_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_request' when calling SendingAPI.broadcast_message"
      end
      if @api_client.config.client_side_validation && !opts[:'x_helo_idempotency_key'].nil? && opts[:'x_helo_idempotency_key'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"x_helo_idempotency_key"]" when calling SendingAPI.broadcast_message, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = "/send/broadcast/message"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end
      header_params[:'X-Helo-Channel-Id'] = opts[:'x_helo_channel_id'] if !opts[:'x_helo_channel_id'].nil?
      header_params[:'X-Helo-Idempotency-Key'] = opts[:'x_helo_idempotency_key'] if !opts[:'x_helo_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "SendMessageAcceptedResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"SendingAPI.broadcast_message",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAPI#broadcast_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a transactional email
    # Sends a single transactional email such as receipts, confirmations, or notifications.
    # @param send_message_request [SendMessageRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [SendMessageAcceptedResponse]
    def transactional(send_message_request, opts = {})
      data, _status_code, _headers = transactional_with_http_info(send_message_request, opts)
      data
    end

    # Send a transactional email
    # Sends a single transactional email such as receipts, confirmations, or notifications.
    # @param send_message_request [SendMessageRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [Array<(SendMessageAcceptedResponse, Integer, Hash)>] SendMessageAcceptedResponse data, response status code and response headers
    def transactional_with_http_info(send_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SendingAPI.transactional ..."
      end
      # verify the required parameter 'send_message_request' is set
      if @api_client.config.client_side_validation && send_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_request' when calling SendingAPI.transactional"
      end
      if @api_client.config.client_side_validation && !opts[:'x_helo_idempotency_key'].nil? && opts[:'x_helo_idempotency_key'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"x_helo_idempotency_key"]" when calling SendingAPI.transactional, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = "/send/transactional"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end
      header_params[:'X-Helo-Channel-Id'] = opts[:'x_helo_channel_id'] if !opts[:'x_helo_channel_id'].nil?
      header_params[:'X-Helo-Idempotency-Key'] = opts[:'x_helo_idempotency_key'] if !opts[:'x_helo_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "SendMessageAcceptedResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"SendingAPI.transactional",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAPI#transactional\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send transactional emails in batch
    # Sends multiple transactional emails in a single API request for better performance.
    # @param send_message_batch_request [SendMessageBatchRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [SendMessageBatchResponse]
    def transactional_batch(send_message_batch_request, opts = {})
      data, _status_code, _headers = transactional_batch_with_http_info(send_message_batch_request, opts)
      data
    end

    # Send transactional emails in batch
    # Sends multiple transactional emails in a single API request for better performance.
    # @param send_message_batch_request [SendMessageBatchRequest]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_helo_channel_id Used to specify a channel ID for sending when using an account-level API credential.
    # @option opts [String] :x_helo_idempotency_key A unique identifier used to prevent duplicate messages being sent when retrying failed requests.
    # @return [Array<(SendMessageBatchResponse, Integer, Hash)>] SendMessageBatchResponse data, response status code and response headers
    def transactional_batch_with_http_info(send_message_batch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: SendingAPI.transactional_batch ..."
      end
      # verify the required parameter 'send_message_batch_request' is set
      if @api_client.config.client_side_validation && send_message_batch_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_batch_request' when calling SendingAPI.transactional_batch"
      end
      if @api_client.config.client_side_validation && !opts[:'x_helo_idempotency_key'].nil? && opts[:'x_helo_idempotency_key'].to_s.length > 256
        fail ArgumentError, 'invalid value for "opts[:"x_helo_idempotency_key"]" when calling SendingAPI.transactional_batch, the character length must be smaller than or equal to 256.'
      end

      # resource path
      local_var_path = "/send/transactional/batch"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end
      header_params[:'X-Helo-Channel-Id'] = opts[:'x_helo_channel_id'] if !opts[:'x_helo_channel_id'].nil?
      header_params[:'X-Helo-Idempotency-Key'] = opts[:'x_helo_idempotency_key'] if !opts[:'x_helo_idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_batch_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "SendMessageBatchResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse",
        500 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"SendingAPI.transactional_batch",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SendingAPI#transactional_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
