=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class StatisticsAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # Retrieve daily statistics
    # Fetches daily aggregated statistics.
    # @param from [Time]
    # @param to [Time]
    # @param timezone [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [StatisticsResponse]
    def retrieve_daily(from, to, timezone, opts = {})
      data, _status_code, _headers = retrieve_daily_with_http_info(from, to, timezone, opts)
      data
    end

    # Retrieve daily statistics
    # Fetches daily aggregated statistics.
    # @param from [Time]
    # @param to [Time]
    # @param timezone [String]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [Array<(StatisticsResponse, Integer, Hash)>] StatisticsResponse data, response status code and response headers
    def retrieve_daily_with_http_info(from, to, timezone, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StatisticsAPI.retrieve_daily ..."
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling StatisticsAPI.retrieve_daily"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling StatisticsAPI.retrieve_daily"
      end
      # verify the required parameter 'timezone' is set
      if @api_client.config.client_side_validation && timezone.nil?
        fail ArgumentError, "Missing the required parameter 'timezone' when calling StatisticsAPI.retrieve_daily"
      end
      # resource path
      local_var_path = "/activity/statistics/daily"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'timezone'] = timezone
      query_params[:'channelId'] = opts[:'channel_id'] if !opts[:'channel_id'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "StatisticsResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"StatisticsAPI.retrieve_daily",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatisticsAPI#retrieve_daily\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve hourly statistics
    # Fetches hourly aggregated statistics.
    # @param from [Time]
    # @param to [Time]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [StatisticsResponse]
    def retrieve_hourly(from, to, opts = {})
      data, _status_code, _headers = retrieve_hourly_with_http_info(from, to, opts)
      data
    end

    # Retrieve hourly statistics
    # Fetches hourly aggregated statistics.
    # @param from [Time]
    # @param to [Time]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [Array<(StatisticsResponse, Integer, Hash)>] StatisticsResponse data, response status code and response headers
    def retrieve_hourly_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StatisticsAPI.retrieve_hourly ..."
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling StatisticsAPI.retrieve_hourly"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling StatisticsAPI.retrieve_hourly"
      end
      # resource path
      local_var_path = "/activity/statistics/hourly"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'channelId'] = opts[:'channel_id'] if !opts[:'channel_id'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "StatisticsResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"StatisticsAPI.retrieve_hourly",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatisticsAPI#retrieve_hourly\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve all time statistics
    # Fetches cumulative statistics.
    # @param from [Time]
    # @param to [Time]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [StatisticsTotalsResponse]
    def retrieve_totals(from, to, opts = {})
      data, _status_code, _headers = retrieve_totals_with_http_info(from, to, opts)
      data
    end

    # Retrieve all time statistics
    # Fetches cumulative statistics.
    # @param from [Time]
    # @param to [Time]
    # @param [Hash] opts the optional parameters
    # @option opts [String] :channel_id
    # @option opts [String] :tag
    # @return [Array<(StatisticsTotalsResponse, Integer, Hash)>] StatisticsTotalsResponse data, response status code and response headers
    def retrieve_totals_with_http_info(from, to, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: StatisticsAPI.retrieve_totals ..."
      end
      # verify the required parameter 'from' is set
      if @api_client.config.client_side_validation && from.nil?
        fail ArgumentError, "Missing the required parameter 'from' when calling StatisticsAPI.retrieve_totals"
      end
      # verify the required parameter 'to' is set
      if @api_client.config.client_side_validation && to.nil?
        fail ArgumentError, "Missing the required parameter 'to' when calling StatisticsAPI.retrieve_totals"
      end
      # resource path
      local_var_path = "/activity/statistics/totals"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = from
      query_params[:'to'] = to
      query_params[:'channelId'] = opts[:'channel_id'] if !opts[:'channel_id'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "StatisticsTotalsResponse",
        401 => nil,
        403 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"StatisticsAPI.retrieve_totals",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: StatisticsAPI#retrieve_totals\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
