=begin
#Helo API

#Helo API

The version of the OpenAPI document: 1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0

=end

require "cgi"

module Helo
  class WebhookEndpointsAPI
    attr_accessor :api_client

    def initialize(api_client = APIClient.default)
      @api_client = api_client
    end
    # Create a webhook endpoint
    # Registers a new webhook endpoint to receive event notifications.
    # @param create_webhook_endpoint_request [CreateWebhookEndpointRequest]
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def create(create_webhook_endpoint_request, opts = {})
      data, _status_code, _headers = create_with_http_info(create_webhook_endpoint_request, opts)
      data
    end

    # Create a webhook endpoint
    # Registers a new webhook endpoint to receive event notifications.
    # @param create_webhook_endpoint_request [CreateWebhookEndpointRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def create_with_http_info(create_webhook_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.create ..."
      end
      # verify the required parameter 'create_webhook_endpoint_request' is set
      if @api_client.config.client_side_validation && create_webhook_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_webhook_endpoint_request' when calling WebhookEndpointsAPI.create"
      end
      # resource path
      local_var_path = "/webhook-endpoints"

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_webhook_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "WebhookEndpointResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.create",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook endpoint
    # Permanently removes a webhook endpoint.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete(id, opts = {})
      delete_with_http_info(id, opts)
      nil
    end

    # Delete a webhook endpoint
    # Permanently removes a webhook endpoint.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.delete ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointsAPI.delete"
      end
      # resource path
      local_var_path = "/webhook-endpoints/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {}

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.delete",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all webhook endpoints
    # Retrieves all webhook endpoints configured for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [Array<String>] :channel_ids
    # @return [PaginationResultOfWebhookEndpointResponse]
    def list(opts = {})
      data, _status_code, _headers = list_with_http_info(opts)
      data
    end

    # List all webhook endpoints
    # Retrieves all webhook endpoints configured for the account.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit
    # @option opts [Integer] :offset
    # @option opts [Array<String>] :channel_ids
    # @return [Array<(PaginationResultOfWebhookEndpointResponse, Integer, Hash)>] PaginationResultOfWebhookEndpointResponse data, response status code and response headers
    def list_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.list ..."
      end
      # resource path
      local_var_path = "/webhook-endpoints"

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'channelIds'] = @api_client.build_collection_param(opts[:'channel_ids'], :csv) if !opts[:'channel_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "PaginationResultOfWebhookEndpointResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.list",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Regenerate webhook signing key
    # Generates a new signing key for webhook payload verification.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def regenerate_signing_key(id, opts = {})
      data, _status_code, _headers = regenerate_signing_key_with_http_info(id, opts)
      data
    end

    # Regenerate webhook signing key
    # Generates a new signing key for webhook payload verification.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def regenerate_signing_key_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.regenerate_signing_key ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointsAPI.regenerate_signing_key"
      end
      # resource path
      local_var_path = "/webhook-endpoints/{id}/regenerate-signing-key".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "WebhookEndpointResponse",
        404 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.regenerate_signing_key",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#regenerate_signing_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve a webhook endpoint
    # Fetches the details and configuration of a specific webhook endpoint.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def retrieve(id, opts = {})
      data, _status_code, _headers = retrieve_with_http_info(id, opts)
      data
    end

    # Retrieve a webhook endpoint
    # Fetches the details and configuration of a specific webhook endpoint.
    # @param id [String]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def retrieve_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.retrieve ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointsAPI.retrieve"
      end
      # resource path
      local_var_path = "/webhook-endpoints/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "WebhookEndpointResponse",
        404 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.retrieve",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook endpoint
    # Modifies the configuration of an existing webhook endpoint.
    # @param id [String]
    # @param update_webhook_endpoint_request [UpdateWebhookEndpointRequest]
    # @param [Hash] opts the optional parameters
    # @return [WebhookEndpointResponse]
    def update(id, update_webhook_endpoint_request, opts = {})
      data, _status_code, _headers = update_with_http_info(id, update_webhook_endpoint_request, opts)
      data
    end

    # Update a webhook endpoint
    # Modifies the configuration of an existing webhook endpoint.
    # @param id [String]
    # @param update_webhook_endpoint_request [UpdateWebhookEndpointRequest]
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebhookEndpointResponse, Integer, Hash)>] WebhookEndpointResponse data, response status code and response headers
    def update_with_http_info(id, update_webhook_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: WebhookEndpointsAPI.update ..."
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhookEndpointsAPI.update"
      end
      # verify the required parameter 'update_webhook_endpoint_request' is set
      if @api_client.config.client_side_validation && update_webhook_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_webhook_endpoint_request' when calling WebhookEndpointsAPI.update"
      end
      # resource path
      local_var_path = "/webhook-endpoints/{id}".sub("{" + "id" + "}", CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params["Accept"] = @api_client.select_header_accept([ "application/json" ]) unless header_params["Accept"]
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type([ "application/json" ])
      if !content_type.nil?
          header_params["Content-Type"] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_webhook_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type]

      return_types_map = {
        200 => "WebhookEndpointResponse",
        404 => "ErrorResponse",
        422 => "ErrorResponse"
      }

      # auth_names
      auth_names = opts[:debug_auth_names] || [ "bearerAuth" ]

      new_options = opts.merge(
        operation: :"WebhookEndpointsAPI.update",
        header_params: header_params,
        query_params: query_params,
        form_params: form_params,
        body: post_body,
        auth_names: auth_names,
        return_type: return_type,
        return_types_map: return_types_map
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhookEndpointsAPI#update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
